/*===============================BASE-----------------------------------------------------*/



/*===============================LOGOS-----------------------------------------------------*/
header {
    width: vw;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.bulliproof {
    display: flex;
    background-image: url("../images/Bulliproof.png");
    width: 207px;
    height: 65px;
    background-size: contain;
    margin-left: 40px;
    margin-top: 20px;
}

.dror {
    display: flex;
    background-image: url("../images/dror.png");
    width: 65px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-top: 20px;

}

/*===============================NAVBAR-----------------------------------------------------*/
#wrapper {
    margin-top: 50px;
    width: 100%;
    transition: margin-left .5s;
}

#wrapper.active {
    margin-left: -300px;
}

.sidebar-menu {
    width: 300px;

}



.sidebar-menu .sidebar {
    position: fixed;
    width: 290px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    left: -202px;
}

.sidebar-menu .sidebar:hover {
    transition: 0.6s all ease-in-out;
    left: 0;
}

.sidebar-menu .sidebar .hamburger {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.sidebar-menu .sidebar .hamburger h2 {
    color: #666;
    font-size: 24px;
    font-weight: bold;
    margin-left: 27px;
}

.sidebar-menu .sidebar .hamburger .side-btn-hem {
    margin-right: 27px;
    font-size: 14px;
    color: #666;
    cursor: pointer;

}

.sidebar-menu .sidebar .ul-sidebar {
    display: block;
    list-style-type: none;

}

.sidebar-menu .sidebar .ul-sidebar .close-it {
    padding: 14px 27px;
    margin-top: 15px;
    border: 3px solid transparent;
}

.sidebar-menu .sidebar .ul-sidebar .close-it:hover {
    border-right: 3px solid #5982fe;
    transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
}

.sidebar-menu .sidebar .ul-sidebar .close-it:hover a {
    color: #000;
}

.sidebar-menu .sidebar .ul-sidebar .close-it:hover .fafaicon {}

.sidebar-menu .sidebar .ul-sidebar .close-it>a {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #545454;
    text-decoration: none !important;
}

.sidebar-menu .sidebar .ul-sidebar .close-it .fafaicon {
    font-size: 20px;
}

.fafaicon>img {
    width: 30px;
    height: 30px;
}









/*===============================HEADER-----------------------------------------------------*/

.main-content {}



.headline {
    display: flex;

}



h1 {
    font-family: 'lato', sans-serif;
    font-size: 35px;



}

/*===============================BREADCRUMBS-----------------------------------------------------*/

a:visited,
a:active {
    color: black;
}

.breadcrumb-chevron .breadcrumb-item {
    display: flex;
    gap: inherit;
    align-items: center;
    padding-left: 0;
    line-height: 1;
}

.breadcrumb-chevron .breadcrumb-item::before {
    gap: inherit;
    float: none;
    width: 1rem;
    height: 1rem;
}

.breadcrumb-custom .breadcrumb-item {
    position: relative;
    flex-grow: 1;
    padding: .75rem 3rem;
}

.breadcrumb-custom .breadcrumb-item::before {
    display: none;
}

.breadcrumb-custom .breadcrumb-item::after {
    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    content: "";
    background-color: var(--bs-tertiary-bg);
    border-top-right-radius: .5rem;
    box-shadow: 1px -1px var(--bs-border-color);
    transform: scale(.707) rotate(45deg);
}

.breadcrumb-custom .breadcrumb-item:first-child {
    padding-left: 1.5rem;
}

.breadcrumb-custom .breadcrumb-item:last-child {
    padding-right: 1.5rem;
}

.breadcrumb-custom .breadcrumb-item:last-child::after {
    display: none;
}

/*===============================PROFILE-----------------------------------------------------*/



/*===============================MAIN-----------------------------------------------------*/

/*===============================FOOTER-----------------------------------------------------*/